*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeImage
{
    width: 304px;
    height: 300px;
    border-radius: 10px;
}
.homeImage2
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
.homeSet
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeSet2
{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.latest
{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}
.homeContent{
    width: 400px;
    height: 200px;
    font-size: 12px;
}
.homeContent2{
    width: 250px;
    height: 300px;
    margin: 10px;
}
.latest-Article
{
    display: flex;
    justify-content: space-between;
}
.HometopPostImg
{
    width: 280px;
    height: 250px;
    margin: 10px;
    border-radius: 10px;
}
.Homeadd
{
    /* position: relative;
    left: 150px; */
    /* display: flex;
    justify-content: flex-start; */
    /* top: 50px; */
    width: 700px;
    height: 500px;
    border: 2px solid black ;
    background-size: cover;
    text-align: center;
}
.HOMEADD{
    /* position: absolute;
    right: 348px; */
    width: 700px;
    height: 500px;
}
.addCenter
{
    /* text-align: center; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.singleImge
{
    width: 550px;
    height: 500px;
    margin: 10px;
}
.storyContainer
{
    display: flex;
}
.story
{
    width: 280px;
    border: 2px solid black;
    margin: 10px;
}
.line{
    border-bottom: 5px solid red;
    width: 200px;
}
.dynamic
{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dynamicImage
{
    width: 700px;
    height: 600px;
}
.dynamicContant
{
    width: 600px;
}
.singleMan
{
    display: flex;
}
.socialSize
{
    width: 50px;
    height: 50px;
}
.SocialSet
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 170px;
    margin-top: 40px;
}
.clap
{
    display: flex;
    gap: 20px;
    position: fixed;
    left: 80px;
    top: 450px;
}
.share
{
    display: flex;
    gap: 20px;
    position: fixed;
    left: 80px;
    top: 520px;
}
.dynamicBack
{
    background-color: cadetblue;
    position: relative;
    z-index: 1;
}
.DynamicBtn
{
    background-color: blue;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
}
.DynamicBtn:hover
{
    background-color: red;
}
.the{
    font-weight:bolder;
    height: 40px;
    text-align: center;
    margin: 6px;
}
.text-The{
    display: inline-block;
    transform: rotate(270deg);
    font-size: 15px;
}
/* .navbar{
    display: flex;
    justify-content: space-evenly;
} */
h1{
    display: flex;
    margin: 20px;
}
hr{
    width: 100%;
}
.image-home{
    display: grid;
    grid-template-columns:auto ;
   
   
    /* border: 1px solid black; */
    gap: 10px;
    /* height: 100px; */
    margin: 20px;

}
.image1{
    grid-column: 1/2;
    grid-row: 1/3;
    /* width: 700px; */
    height: 420px;
    border-radius: 10px;
    
}
.image2{
    grid-column: 2/3;
    grid-row: 1/2;
   height: 200px;
   width: 610px;
   border-radius: 10px;
}
.image3{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 210px;
    width: 610px;
    border-radius: 10px;
}
.container-home{
    border: 1px solid black;
    /* width: 100%; */
    margin: 20px;
    display: flex;
    height: 150px;
}
.parent-home{
    /* border: 1px solid black;
    display: flex;
    flex-direction: column; */
    border: 2px solid red;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center-align items */
    gap: 10px;
    height: 140px;
    font-size: 10px;
    margin: 20px;
   
}

.parent{
    border: 2px solid red;
    display: flex;
    gap: 10px;
    height: 140px;
    font-size: 10px;
    margin: 20px;
}
 .child{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* width: 75%; */
    
} 
.content{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-top: 10px;
    align-items: flex-start;
  
}
 .TOP-CONTENT{
    font-size: 12px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-left: 28px;
}
.TOP-CONTENT p{
    font-size:15px ;
} 
.TOP-BODY p{
    font-size: 15px;
    margin-left: 8px;
}

.rightparent{
    display: flex;
  
    margin: 20px;
    border: 1px solid black;
    
    
}
.rightparent1{
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    height: 50px;
    /* height: 120px; */
}
.rightchild1{
    border: 1px solid black;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 100px; */
    
}
.rightchild{
    font-size: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* chatgtp */
.parentfooter {
    background-color: #333; 
    color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .parentfooter i {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .parentfooter p {
    font-size: 24px;
    margin: 0;
  }
  
  .parentfooter h6 {
    font-size: 16px;
    margin: 0;
  }
  
  .parentfooter a {
    text-decoration: none;
    color: #fff;
  }
  
  .icon i {
    font-size: 20px;
    margin-right: 10px;
  }

/* my css code */
.bollyWoodContainer
{
    display: flex;
    gap: 100px;
}
.BollyImage
{
    width: 200px;
    height: 200px;
    margin: 10px;
}
.bollySet
{
    display: flex;
    gap: 10px;
}
.TOP-BODY{
    /* border: 1px solid black; */
    width: 250px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 10px;
}
.topPostBig
{   border: 1px solid black;
    width: 250px;
    height: 400px;
    margin: 0px;
}
.topPostImg
{
    width: 150px;
    height: 165px;
    /* margin: 10px; */
}
.TopPostContent1{
    font-size: 12px;

}
.topPostContent
{
    display: flex;
}

.add
{
    width: 400px;
    height: 500px;
    border: 2px solid black ;
    background-size: cover;
}
.addImg
{
    width: 400px;
    height: 420px;
}
.content
{
    width: 400px;
    height: 200px;
}
.content2
{
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: flex-start;
    margin-top: 8px;
    font-size: 6px;
    gap: 15px;
}
.content2 p{
    font-size: 15px;
}
.ADDVER{
    border: 1px solid black ;
    width: 350px;
}
.addver
{
    width: 350px;
    height: 775px;
}

/* media query css */

@media screen and (max-width: 560px){
      .bollyWoodContainer
      {
        display: flex;
        flex-direction: column;
        margin: 5px;
      }
      .bollySet
      {
        display: flex;
        flex-direction: column;
      }
      .BollyImage
      {
        width: 350px;
        height: 200px;
        border-radius: 15px;
      }
      .content
      {
        width: 360px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

      }
      .topPostBig
      {
        width: 295px;
      }
      .topPostContent
      {
        display: flex;
        flex-direction: column;
      }
    .topPostContent2{
        
        display: flex;
        flex-direction: column;
    }
      
      .topPostImg
      {
        width: 300px;
      
        border-radius: 15px;
      }
      .addver
      {
        width: 350px;
        height: 550px;
      }
      .image1 {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 295px;
        height: 420px;
    }
    .image-home{
        display: grid;
        justify-self: center;
        align-self: center;
        /* grid-template-columns:auto auto  ; */
       
       
        /* border: 1px solid black; */
        gap: 10px;
        /* height: 100px; */
        margin: 20px;
    }
    
    .image2 {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 200px;
        width: 295px;
    }
    .image3 {
        grid-column: 1/2;
        grid-row: 3/4;
        height: 210px;
        width: 295px;
    }
    .latest
    {
        display: flex;
        flex-direction: column;
    }
  
    .homeSet2{
        display: flex;
        flex-direction: column;
    }
    .TopPostContent1{
        font-size: 9px;
    
    }
    
    .homeImage
    {
        width: 295px;
    }
    .homeContent
    {
        width: 295px;
        font-size: 9px;
    }
     .homeContent2{
        display: flex;
        flex-direction: column;
    } 
    .content2
    {
    width: 295px;
    font-size: 9px;
    }
    .latest-Article
    {
        display: flex;
        flex-direction: column-reverse;
    }
    .singleImge
    {
        width: 295px;
    }
    .Homeadd {
        /* position: relative;
        left: 10px; */
      
        width: 295px;
        height: 500px;
        border: 2px solid black;
        background-size: cover;
        margin-left: 30px;     
    }
    .HOMEADD
{
    width:295px;
    height: 500px;

}
    .storyContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    .storyContainer
    {    display: flex;
        justify-content: center;
        align-items: center;
        width: 295px;
        margin-left: 15px;
    }
   .TECH-ADD{
    width: 295px;
   }
   body{
    overflow: hidden;
   }

    /* chatgtp */
    .parentfooter {
        flex-direction: column;
        width: 295px;
      }
      
      .parentfooter i, .icon i {
        margin: 0;
        margin-bottom: 10px;
      }
    .dynamicImage{
        width: 300px;
    }
    .dynamicContant{
         width: 100%;
         font-size: 16px;
        /* border: 1px solid black; */
    }
}